/app/etc/local.xml
/dev
/downloader
/errors
/includes
/js
/media
/shell
/var

.htaccess*
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php*
install.php
LICENSE*
mage
php.ini.sample
RELEASE_NOTES*
*.jar
.idea/
.DS_Store

/app/
/app/design
!/app/etc/modules/CMGroep_Idin.xml
!/app/code/community/CMGroep
!/app/design/base/default/template/cm
!/app/design/frontend/base/default/layout/cmgroep_idin.xml
!/app/design/frontend/base/default/template/cmgroep

/lib/
!/lib/CMGroep

/skin/
!/skin/adminhtml/base/default/cm
!/skin/frontend/base/default/cm/**/*.*
!/skin/frontend/rwd/default/cm/**/*.*
