/app/etc/local.xml
/dev
/downloader
/errors
/includes
/js
/media
/shell
/var

.htaccess*
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php*
install.php
LICENSE*
mage
php.ini.sample
RELEASE_NOTES*
*.jar
.idea/
.DS_Store
