Is a 18+ verification necessary for products you offer? With the iDIN / Magento extension you can obligate your customer to do so; the age of the customer will be verified by iDIN before the order can be completed. You can even relate 18+ verification to particular products, so your other products can be sold without age verification. 

![Screenshot of iDIN Age Verification on product pages](/images/features/age_verification_1.png)
3.1 Age Verification on product pages

![Screenshot of iDIN Age Verification in the shopping cart](/images/features/age_verification_2.png)
3.2 Age Verification in the shopping cart

![Screenshot of iDIN Age Verification during checkout](/images/features/age_verification_3.png)
3.3 Age Verification during the checkout process