!!! note "Configuratie"
    Systeem --> Configuratie --> Services --> CM iDIN --> 18+ leeftijd verificatie met iDIN
 
## Afbeelding van instellingen
  
![Afbeelding van leeftijd verificatie configuratie](/images/configuration/age_verification.png)

## Beschikbare instellingen
 
Instelling | Omschrijving
---------- | ------------
Actief | Activeer of de-activeer leeftijdsverificatie via iDIN.
Leeftijd verificatie verplicht | Bepaalt of leeftijdsverificatie verplicht is. Deze instellingen kent de volgende opties: <br/><br/>**Altijd:** Leeftijdsverificatie dient voor alle bestellingen te worden uitgevoerd.<br/><br/>**Alleen 18+ producten:** Leeftijdsverificatie dient alleen te worden uitgevoerd indien de winkelmand 1 of meerdere 18+ producten bevat.
18+ verificatie resultaat opslaan | Indien een klant is ingelogd kan er voor worden gekozen dat de leeftijdsverificatie éénmalig dient te worden uitgevoerd. Het resultaat wordt dan opgeslagen, hierdoor kan de stap bij toekomstige bestellingen worden overgeslagen.
Toon bericht op productpagina | Indien gewenst, kan er bij een product worden aangegeven dat er leefdtijdsverificatie dient te worden uitgevoerd. Deze instelling kent de volgende opties:<br/><br/>**Nee:** Toon geen bericht.<br/><br/>**Altijd:** Toon altijd een bericht, ongeacht de 18+ instelling op het product.<br/><br/>**Alleen 18+ producten:** Toon alleen een bericht indien de 18+ instelling van het product op `Ja` is ingesteld.
Productpagina bericht | Het te tonen bericht voor de productpagina
Toon winkelmand bericht | Indien gewenst, kan er op de winkelmand worden aangegeven dat er leeftijdsverificatie dient te worden uitgevoerd. Deze instelling kent de volgende opties:<br/><br/>**Nee:** Toon geen bericht.<br/><br/>**Ja:** Toon een bericht indien de winkelmand producten bevat waarvan de 18+ instelling van het product op `Ja` is ingesteld.
Winkelmand bericht | Het te tonen bericht voor de winkelmand.

## 18+ instellingen voor producten
Indien u heeft gekozen voor leeftijdsverificatie bij alleen 18+ producten, kunt u dit per product aangeven. 

!!! note "18+ verificatie per product instellen"
    Catalogus --> Beheer producten --> Product --> iDIN --> 18+ Product --> Ja/Nee