<?xml version="1.0"?>
<!--
/**
 * MIT License
 *
 * Copyright (c) 2016 CM Groep
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 * @category   CMGroep
 * @package    Idin
 * @author     Epartment Ecommerce B.V. <support@epartment.nl>
 * @copyright  2016-2017 CM Groep
 * @license    http://www.opensource.org/licenses/mit-license.html  MIT License
 */
-->
<config>
    <modules>
        <CMGroep_Idin>
            <version>0.2.1</version>
        </CMGroep_Idin>
    </modules>
    <global>
        <models>
            <cmgroep_idin>
                <class>CMGroep_Idin_Model</class>
                <resourceModel>cmgroep_idin_resource</resourceModel>
            </cmgroep_idin>
            <cmgroep_idin_resource>
                <class>CMGroep_Idin_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>cmgroep_idin_transaction</table>
                    </transaction>
                </entities>
            </cmgroep_idin_resource>
        </models>
        <blocks>
            <cmgroep_idin>
                <class>CMGroep_Idin_Block</class>
            </cmgroep_idin>
            <checkout>
                <rewrite>
                    <onepage>CMGroep_Idin_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <cmgroep_idin>
                <class>CMGroep_Idin_Helper</class>
            </cmgroep_idin>
        </helpers>
        <resources>
            <cmgroep_idin_setup>
                <setup>
                    <module>CMGroep_Idin</module>
                    <class>CMGroep_Idin_Model_Resource_Setup</class>
                </setup>
            </cmgroep_idin_setup>
            <cmgroep_idin_entity_setup>
                <setup>
                    <module>CMGroep_Idin</module>
                    <class>CMGroep_Idin_Model_Entity_Setup</class>
                </setup>
            </cmgroep_idin_entity_setup>
        </resources>
        <template>
            <email>
                <cmgroep_idin_email_confirmation>
                    <label>iDIN Registration Confirmation</label>
                    <type>html</type>
                    <file>cmgroep/idin/registration_confirmation.html</file>
                </cmgroep_idin_email_confirmation>
            </email>
        </template>
    </global>
    <frontend>
        <translate>
            <modules>
                <cmgroep_idin>
                    <files>
                        <default>CMGroep_Idin.csv</default>
                    </files>
                </cmgroep_idin>
            </modules>
        </translate>
        <events>
            <sales_order_place_before>
                <observers>
                    <cmgroep_idin>
                        <type>model</type>
                        <class>CMGroep_Idin_Model_Observer</class>
                        <method>salesOrderPlaceBefore</method>
                    </cmgroep_idin>
                </observers>
            </sales_order_place_before>
        </events>
        <layout>
            <updates>
                <cmgroep_idin>
                    <file>cmgroep_idin.xml</file>
                </cmgroep_idin>
            </updates>
        </layout>
        <routers>
            <idin>
                <use>standard</use>
                <args>
                    <frontName>idin</frontName>
                    <module>CMGroep_Idin</module>
                </args>
            </idin>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <cmgroep_idin>
                    <files>
                        <default>CMGroep_Idin.csv</default>
                    </files>
                </cmgroep_idin>
            </modules>
        </translate>
        <layout>
            <updates>
                <cmgroep_idin>
                    <file>cmgroep_idin.xml</file>
                </cmgroep_idin>
            </updates>
        </layout>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <cmgroep_idin>
                        <type>model</type>
                        <class>CMGroep_Idin_Model_Adminhtml_Observer</class>
                        <method>updateAvailableServices</method>
                    </cmgroep_idin>
                </observers>
            </adminhtml_init_system_config>
            <admin_system_config_changed_section_cmgroep_idin>
                <observers>
                    <cmgroep_idin>
                        <type>model</type>
                        <class>CMGroep_Idin_Model_Adminhtml_Observer</class>
                        <method>processConfigurationChanges</method>
                    </cmgroep_idin>
                </observers>
            </admin_system_config_changed_section_cmgroep_idin>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <idin before="Mage_Adminhtml">CMGroep_Idin_Adminhtml</idin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <cmgroep_idin>
            <age_verification>
                <save_verification_result>1</save_verification_result>
            </age_verification>
        </cmgroep_idin>
    </default>
</config>