<?xml version="1.0"?>
<config>
    <modules>
        <CMGroep_Idin>
            <version>0.1.0</version>
        </CMGroep_Idin>
    </modules>
    <global>
        <models>
            <cmgroep_idin>
                <class>CMGroep_Idin_Model</class>
                <resourceModel>cmgroep_idin_resource</resourceModel>
            </cmgroep_idin>
            <cmgroep_idin_resource>
                <class>CMGroep_Idin_Model_Resource</class>
                <entities>
                    <registration>
                        <table>cmgroep_idin_registration</table>
                    </registration>
                </entities>
            </cmgroep_idin_resource>
        </models>
        <blocks>
            <cmgroep_idin>
                <class>CMGroep_Idin_Block</class>
            </cmgroep_idin>
        </blocks>
        <helpers>
            <cmgroep_idin>
                <class>CMGroep_Idin_Helper</class>
            </cmgroep_idin>
        </helpers>
        <resources>
            <cmgroep_idin_setup>
                <setup>
                    <module>CMGroep_Idin</module>
                    <class>CMGroep_Idin_Model_Resource_Setup</class>
                </setup>
            </cmgroep_idin_setup>
            <cmgroep_idin_entity_setup>
                <setup>
                    <module>CMGroep_Idin</module>
                    <class>CMGroep_Idin_Model_Entity_Setup</class>
                </setup>
            </cmgroep_idin_entity_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <sales_order_place_before>
                <observers>
                    <cmgroep_idin>
                        <type>model</type>
                        <class>CMGroep_Idin_Model_Observer</class>
                        <method>salesOrderPlaceBefore</method>
                    </cmgroep_idin>
                </observers>
            </sales_order_place_before>
        </events>
        <layout>
            <updates>
                <cmgroep_idin>
                    <file>cmgroep_idin.xml</file>
                </cmgroep_idin>
            </updates>
        </layout>
        <routers>
            <idin>
                <use>standard</use>
                <args>
                    <frontName>idin</frontName>
                    <module>CMGroep_Idin</module>
                </args>
            </idin>
        </routers>
    </frontend>
</config>