!!! note "Configuratie"
    System --> Configuration --> Services --> CM iDIN --> 18+ Age Verification with iDIN
 
## Screenshot of available settings
  
![Afbeelding van leeftijd verificatie configuratie](/images/configuration/age_verification.png)

## Available settings
 
Setting | Description
---------- | ------------
Active | Enables/disables age verification through iDIN.
Age Verification required | Determines if age verification is required. This setting has the following options: <br/><br/>**Always:** Age verification is required for every order.<br/><br/>**Only 18+ products:** Age verification is only required when one or more 18+ products are present in the shopping cart.
Save 18+ verification result | When a customer is logged in, this settings enables/disables saving of the result for age verification. When enabled, the customer won't have to verify his/her age for future orders.
Show notice on product page | When required, a notice can be displayed on each product page. This setting has the following options: <br/><br/>**No:** Shows no notice.<br/><br/>**Always:** Always show a notice, despite the 18+ product setting.<br/><br/>**Only 18+ products:** Only shows a notice of products which 18+ product settings is set to `Yes`.
Product page notice | The notice that should be shown on product pages.
Show shopping cart notice | When required, a notice can be displayed on the shopping cart page. This setting has the following options:<br/><br/>**No:** Shows no notice.<br/><br/>**Yes:** Show a notice when the shopping cart contains products with the the 18+ setting set to `Yes`.
Shopping cart notice | The notice that should be shown on the shopping cart page.

## 18+ settings for products 
When u enabled age verification for 18+ products only, you need to specify this per product.

!!! note "Enable 18+ age verification for a product"
    Catalog --> Manage products --> Product --> iDIN --> 18+ Product --> Yes/No