Is uw productassortiment onderhevig aan 18+ verificatie? Met de iDIN / Magento extensie kunt u uw klanten een leeftijdsverificatie verplichten. De leeftijd wordt geverifieerd via iDIN alvorens een aankoop plaats kan vinden. U kunt zelfs 18+ verificatie toepassen op specifieke producten, zodat uw andere producten zonder leeftijdsverificatie kunnen worden verkocht.

![Afbeelding van iDIN leeftijdsverificatie op productpagina](/images/features/age_verification_1.png)
3.1 Leeftijdsverificatie melding op productpagina

![Afbeelding van iDIN leeftijdsverificatie in winkelmand](/images/features/age_verification_2.png)
3.2 Leeftijdsverificatie melding in winkelmand

![Afbeelding van iDIN leeftijdsverificatie tijdens afrekenen](/images/features/age_verification_3.png)
3.3 Leeftijdsverificatie tijdens het afrekenen